/node_modules
/public/hot
/app/Console/Commands/Test.php
/public/storage
/public/rsa/rsa_public_key.pem
/public/rsa/rsa_private_key.pem
/storage/*.key
/vendor
.env
.php-cs-fixer.cache
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
